*{
    margin:0;
    padding:0;
    text-decoration:none;
}
body{
    background-color:#bfbfbf;
}
.centerBox{
    width:94%;
    margin:0 auto;
    position:relative;
}

/*header*/
header{
    background-color: #383838;
    height:50px;
}
header img{
    float:left;
    width:auto;
    height:50px;
}
header ul{
    float:right;
}
header li{
    float:left;
    margin-right:2em;
}
header li:last-child{
    margin-right:0;
}
header li a{
    display:block;
    height:50px;
    line-height:50px;
    color:#fff;
}
header li:hover,header li a:hover{
    color:#bfbfbf;
}


/*body---centerBox*/
section{
    width:66%;
    line-height:2em;
    background-color:#fff;
    border:1px solid #bfbfbf;
    margin:30px 30px 30px 0;
    padding:20px;
    box-shadow:5px 5px 5px #6f6f6f;
}
section h2,section address,section time{
    color:#5a5a5a;
}
section h2{
    font-size:18px;
}
section address,section time{
    display:inline;
    font-size:16px;
}
section img{
    margin:20px 0;
}
/*s1*/
.s1 time+p,.s1 img+p{
    text-indent:2em;
}

/*s2*/
.s2 time+p{
    text-indent:2em;
}
.s2 ul{
    list-style:none;
}

/*.s3*/
.s3 ol{
    list-style-position: inside;
}
.s3 table{
    width:100%;
    border-collapse:collapse;
    /*border-spacing:0;*/
    font-size:12px;
}
.s3 table #col1{
    width:40%;
}
.s3 thead{
    text-align:left;
    background:#383838;
}
.s3 td,.s3 th{
    height:16px;
    line-height:1.7em;
    border:1px solid #ccc;

}
.s3 tfoot{
    background:#ccc;
}

/*s4*/
.s4{
    overflow:hidden;
}
.s4 .pic{

}
.s4 figure{
    display:block;
    float:left;
    width:120px;
    margin:10px;
    padding:10px;
    text-align:center;
    border:1px solid #ccc;
}
.s4 figure img{
    width:100px;
    height:70px;
    margin:0 auto;
}

/*aside*/
aside{
    background-color:#fff;
    border:1px solid #bfbfbf;
    padding:20px;
    box-shadow:5px 5px 5px #6f6f6f;
    width:26%;
    position:absolute;
    top:0;  right:0;
}
aside h1::before{
    content:'';
    border-right:3px solid #ccc;
    padding:0.3em 0;
    margin-right:0.2em;
}
aside #signUp{
    font-size:12px;
    margin:20px 0 0 0;
}
aside label{
    display:inline-block;
    width:100px;
    text-align:right;
    margin:12px 10px 0 0;
}
aside input{
    margin:10px 5px 0 0;
}
input[type='text'],input[type='password']{
    width:10em;
}
aside input+p{
    font-size:12px;
    color:#ccc;
    line-height:3em;
    padding-left:120px;
}
aside textarea{
    margin:10px 0 0 0;
    min-width: 200px;
    max-width: 200px;
    min-height:50px;
    max-height:50px;
    resize:none;            /*禁止多行文本框通过拖拽改变大小*/
}
aside label[for='personal']{
    vertical-align:top;
}
aside button{
    width:100%;
    height:30px;
    background: #7085e4;
    border:none;
    border-radius:8px;
    margin:10px auto ;
    font-size:18px;
    text-align:center;
    color:#fff;
}
aside button:active{
    outline:none;           /*可以取消点击按钮式周边出现的蓝色方框*/
    background: #6b61e4;
}